* {
    padding: 0;
    margin: 0;
    font-family: "Arial";
}

html {
    font-size: 1px;
}

body {
    background-color: #8dc63f;
}

.clear {
    clear: both;
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    min-width: 961px;
    background-color: #fff;
}

.header {
    padding-bottom: 25px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.header-logo-text {
    display: flex;
    flex-direction: column;

}

.header-logo-text p {
    padding-bottom: 10px;
    font-size: 22rem;
    color: #39930d;
}

.header-logo-text b {
    padding-bottom: 20px;
    font-size: 44rem;
    color: #39930d;
}

.header-logo-text i {
    color: #5a5a5a;
    font-size: 14rem;
    
}

.header-logo-img {
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}


.header-contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header-contacts a {
    color: #39930d;
    font-size: 22rem;
    
}

.header-contacts a:hover {
    text-decoration: none;
}

.header-contacts i {
    padding-top: 15px;
    color: #5a5a5a;
    font-size: 14rem;
    
}

.img {
    padding-bottom: 25px;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

section {
    width: 65%;
}


section h1 {
    padding-bottom: 20px;
    color: #39930d;
    font-size: 24rem;
    font-weight: bold;
}


section p {
    padding-bottom: 20px;
    color: #343434;
    font-size: 14rem;
    line-height: 21rem;
    
}

aside {
    list-style: none;
    font-size: 14rem;
}

aside p {
    padding: 15px 100px 15px 20px;
    font-size: 18rem;
    background-color: #39930d;
    margin-bottom: 20px;
    color: #ffffff;
}

ul {
    padding: 20px 0px 0px 20px;
    list-style: none;
}

.menu {
    padding-left: 20px;
}

.menu li {
    font-size: 14rem;
    line-height: 30rem;
    text-transform: uppercase;
}

.menu li>a {
    color: #39930d;
    font-size: 14rem;
    line-height: 30rem;
}


.footer {
    background-color: #39930d;
}

.footer p {
    color: #fff;
    font-size: 14rem;
}

.menu li:hover>a {
    text-decoration: none;
}